* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --colorGold: #bdae82;
    --colorGoldDark:rgb(155, 142, 100);
    --fontRoboto: 'Roboto', sans-serif;
    --backgroundImg: url(./assets/img/forest.jpg);
}

body {
  width: 100%;
  height: 100%;
  background-color: black;
  font-family: var(--fontRoboto);
  font-size: 20px;
  color: white;
}

.container {
    max-width: 1440px;
    display: flex;
    margin: 0 auto;
    padding: 5px 40px;
    line-height: 50px;
}

.header .container {
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 50px;
    height: 50px;
    background-color: #fff;
    -webkit-mask: url(./assets/svg/logo.svg);
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    transition: .3s;
} 

.logo:hover {
    background-color: var(--colorGold);
    transition: .3s;
    cursor: pointer;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav-link {
    color: white;
    text-decoration: none;
    padding: 0 20px;
    transition: .3s;
}

.nav-link:last-child {
    padding-right: 0;
}

.nav-link:hover {
    color: var(--colorGold);
    transition: .3s;
}

.active {
    color: var(--colorGold);
    cursor: default;
}

.logo.active {
    background-color: var(--colorGold);
    cursor: default;
}

.main{
    width: 100%;
    height: calc(100vh - 120px);
    background-image: var(--backgroundImg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: .3s;
}

main .container {
    height: 100%;
}

.footer .container {
    justify-content: space-between;
}

.git {
  word-spacing: 15px;
}

.git .git-link {
    color: white;
    text-decoration: none;
    transition: .3s;
}

.git .git-link:hover {
    color: var(--colorGold);
    transition: .3s;
}

.rss-logo {
    width: 135px;
    height: 50px;
    background-color: white;
    display: block;
    -webkit-mask: url(./assets/svg/rss.svg);
    -webkit-mask-size: cover;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    transition: .3s;
}

.rss-logo:hover {
    background-color: var(--colorGold);
    transition: .3s;
}

.main .container {
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
}
.main .play {
    width: 160px;
    height: 160px;
    background-color: var(--colorGold);
    border: none;
    -webkit-mask: url(./assets/svg/play.svg);
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    transition: .3s;
}

.main .play:hover {
    background-color: var(--colorGoldDark);
    transition: .3s;
}

.main .pause {
    -webkit-mask: url(./assets/svg/pause.svg);
    transition: .3s;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
}