* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Merriweather';
  src: url("assets/fonts/Merriweather-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: 'Merriweather';
  src: url("assets/fonts/Merriweather-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url("assets/fonts/Inter-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url("assets/fonts/Inter-Bold.ttf");
  font-weight: 700;
}

:root{
  --colorGold: #bdae82;
  --colorBlack: #000;
  --colorWhite: #fff;
  --fontSize60: 60px;
  --fontSize40: 40px;
  --fontSize20: 20px;
  --lineHeight80: 80px;
  --lineHeight40: 40px;
  --fontInter: 'Inter';
  --fontMerriweather: 'Merriweather';
}

@media (max-width: 768px) {
  :root{
    --fontSize40: 32px;
    --lineHeight80: auto;
  }
}

html{
  scroll-behavior: smooth;
}

body{
  background-color: black;
  font-family: var(--fontInter);
  color: var(--colorWhite);
}

.wrap{
  position: relative;
  overflow-x: hidden;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 20px;
}

/* HEADER */

.header .container{
  background: url('assets/img/headerBg.jpg');
  background-repeat: no-repeat;
  background-position: center 0;
  display: flex;
  align-items: center;
  font-size: 20px;
  line-height: 50px;
}

.logo{
  width: 50px;
  height: 50px;
  margin-right: auto;
}

.logoIcon {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  fill: var(--colorWhite);
  transition: 0.3s;
  }

.logoIcon:hover {
  fill: var(--colorGold);
  cursor: pointer;
  transition: 0.3s;
}

.nav{
  font-family: 'Inter';
  font-weight: 400;
}

.navList{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin-right: 15px;
}

.navLink{
  color: var(--colorWhite);
  padding: 0 15px;
  text-decoration: none;
  transition: color .3s;
}

.navLink:hover{
  color: var(--colorGold);
  transition: .3s;
}

.langSwitch{
  color: white;
  font-family: var(--fontInter);
  font-weight: 700;
  word-spacing: 4px;
}

.langSwitchLink{
  color: var(--colorWhite);
  text-decoration: none;
  transition: color .3s;
}

.langSwitchLink:hover{
  color: var(--colorGold);
  cursor: pointer;
  transition: color .3s;
}

.langSwitch .active{
  color: var(--colorGold);
}

.hamburgerMenu{
  display: none;
  width: 50px;
  height: 50px;
  /*background-color: var(--colorWhite);
  -webkit-mask-image: url("./assets/svg/hamburger.svg");
  -webkit-mask-size: cover;
  transition: 0.3s;*/
  z-index: 5;
}


.hamburgerMenu span{
  width: 100%;
  height: 10%;
  background-color: #fff;
  display: block;
  z-index: 10;
  position: relative;
  top: 50%;
}

.hamburgerMenu::after{
  content: "";
  width: 100%;
  height: 10%;
  background-color: #fff;
  display: block;
  z-index: 10;
  position: relative;
  top: 0;
}




.hamburgerMenu:hover{
  background-color: var(--colorGold);
}

.hamburgerMenu.open{
  -webkit-mask-image: url("./assets/svg/close.svg");
}

/* HERO SECTION */

.hero .container{
  background-image: url(assets/img/headerBg.jpg);
  background-position: center -90px;
  background-repeat: no-repeat;
  height: 820px;

  /*width: 100%;
  height: 0;
  padding-bottom: 56.94%;*/
}

.contentHero{
  margin-top: 140px;
  margin-left: 60px;
  width: 470px;
}

.titleHero{
  font-size: var(--fontSize60);
  font-size: 60px;
  line-height: 120px;
  color: var(--colorWhite);
  font-family: 'Merriweather';
  font-weight: 700;
}

.hero .about{
  color: var(--colorWhite);
  font-family: var(--fontInter);
  font-size: 20px;
  line-height: 40px;
  margin-top: 10px;
  margin-bottom: 25px;
}

.button{
  border: 0;
  background-color: var(--colorGold);
  cursor: pointer;
  font-family: inherit;
  width: 220px;
  height: 55px;
  font-size: 20px;
  transition: color 0.3s;
}

.button:hover{
  color: var(--colorWhite);
  transition: color 0.3s;
}

.buttonSwitch{
  border: 2px solid var(--colorGold);
  background-color: var(--colorBlack);
  color: var(--colorGold);
  cursor: pointer;
  font-family: inherit;
  width: 220px;
  height: 55px;
  font-size: 20px;
  transition: color 0.3s, background-color 0.3s;
}

.buttonSwitch:hover{
  color: var(--colorWhite);
  transition: color 0.3s;
}

.portfolio .active{
  color: var(--colorBlack);
  background-color: var(--colorGold);
  transition: color 0.3s, background-color 0.3s;
}

.portfolio .active:hover{
  color: var(--colorWhite);
  transition: color 0.3s;
}

.titleСontainer{
  width: 50%;
  margin: 0 auto;
  margin-top: 80px;

}

.title{
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--colorGold);
  font-family: 'Merriweather';
  font-weight: bold;
  font-size: var(--fontSize40);
  line-height: var(--lineHeight80);
}

h2 span {
  background: var(--colorBlack);
  margin: 0 20px;
}

h2:before,
h2:after {
  background: var(--colorGold);
  height: 2px;
  flex: 1;
  content: '';
}

.skillContainer{
  padding: 20px 20px 0;
}

.skillsItems{
  margin-top: 60px;
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.skillItem{
  background-position: center top;
  background-repeat: no-repeat;
  width: 320px;
  height: 240px;
}

.skillItem:nth-child(1){
  background-image: url("./assets/svg/camera.svg");
  background-size: 62px 50px;
  top: 20px;
}

.skillItem:nth-child(2){
  background-image: url("assets/svg/video.svg");
  background-size: 62px 50px;
  top: 20px;
}

.skillItem:nth-child(3){
  background-image: url("assets/svg/image.svg");
  background-size: 66px 50px;
  top: 20px;
}

.skillItem:nth-child(4){
  background-image: url("assets/svg/mic.svg");
  background-size: 62px 50px;
  top: 20px;
}

.skillTitle{
  margin-top: 100px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  line-height: 40px;
}

.skillDescription{
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  padding: 21px 20px 0;
}

/* PROTFOLIO */

.portfolio .container{
  margin-top: 2px;
  padding-bottom: 0;
}

.portfolio .buttonWrapper{
  margin-top: 60px;
  padding: 0 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

.portfolioItems{
  margin-top: 60px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

/* VIDEO */

.video .container{
  padding-bottom: 0;
}

.videoPlayer{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.videoImg{
  width: 100%;
}

.videoImgSmall{
  display: none;
}

.playButton{
  position: absolute;
  border: none;
  outline: none; 
  background-color: transparent;
}

.playIcon{
  width: 130px;
  height: 130px;
  fill: var(--colorWhite);
  transition: 0.3s;
}

.playIcon:hover{
  fill: var(--colorGold);
  transition: 0.3s;
  cursor: pointer;
}

/*PRICE*/

.priceItems{
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.priceItem{
  width: 450px;
  height: 505px;
  border: 3px solid var(--colorGold);
  text-align: center;
}

.price .priceTitle{
  font-family: var(--fontMerriweather);
  font-size: 28px;
  line-height: 56px;
  margin-top: 40px;
  font-weight: bold;
}

.priceCost{
  font-family: var(--fontMerriweather);
  font-size: 24px;
  line-height: 48px;
  color: var(--colorGold);
  margin-top: 20px;
  margin-bottom: 20px;
}

.preciDescription{
  display: block;
  font-size: 18px;
  line-height: 36px;
}

.priceItem .button{
  margin-top: 40px;
}

/*CONTACTS*/

.contact .container{
  margin-top: 80px;
  background-image: url('./assets/img/contactsBg.jpg');
  background-size: auto 700px;
  background-position: center center;
  min-height: 700px;
  display: flex;
  justify-content: flex-end;
}
.contactWrapper{
  padding-top: 40px;
}

.contactTitle{
  font-family: var(--fontMerriweather);
  font-size: var(--fontSize40);
  font-weight: bold;
  line-height: 80px;
  color: var(--colorGold);
}

.contactForm{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.contact .input{
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid var(--colorGold);
  font-family: var(--fontInter);
  font-size: 20px;
  line-height: 40px;
  color: var(--colorGold);
  margin-bottom: 20px;
  padding: 3px 19px;
}

.contact .input:focus{
  border: 2px solid var(--colorWhite);
  border-radius: 0;
  outline: none;
}

.contact .input::placeholder{
  font-family: var(--fontInter);
  font-size: 20px;
  line-height: 40px;
  color: var(--colorGold);
}

.contact .textarea{
  resize: none;
  width: 450px;
  height: 100px;
  margin-bottom: 30px;
}

/*FOOTER*/

.footer .container{
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  margin-bottom: 35px;
}

.footer .footerLink{
  color: var(--colorWhite);
  text-decoration: none;
  font-size: 20px;
  line-height: 40px;
  transition: color 0.3s;
}

.rss{
  margin-left: 19px;
}

.footer .footerLink:hover{
  color: var(--colorGold);
  
}
.footer .footerItem:first-child{
  word-spacing: 15px;
}

.footer .socialLink{
  padding: 0 10px;
}

.footer .socialLink:first-child{
  padding-left: 0;
}

.footer .socialLink:last-child{
  padding-right: 0;
}

.footer .socialLinkList{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  padding-top: 4px;
}

.socialIcon{
  fill: var(--colorWhite);
  width: 32px;
  height: 32px;
  transition: 0.3s;
}

.socialIcon:hover{
  fill: var(--colorGold);
  transition: 0.3s;
}


@media (max-width: 768px) {
  /*HEADER*/
  .header .container{
    padding: 20px 60px;
    background-size: auto 620px;
    background-position: -5px -30px;
  }

  

  .hamburgerMenu{
    display: block;
    margin-left: 20px;
  }

  .langSwitch{
    word-spacing: 10px;
  }

  /*HERO*/
  .hero .container{
    height: 500px;
    background-position: -5px -120px;
    background-size: auto 620px;
  }
  
  .contentHero{
    margin-top: 75px;
    margin-left: 40px;
    width: 390px;
  }
  
  .titleHero{
    font-size: 32px;
    line-height: 1;
    color: var(--colorWhite);
    font-family: 'Merriweather';
    font-weight: 400;
  }
  
  .hero .about{
    color: var(--colorWhite);
    font-family: var(--fontInter);
    font-size: 20px;
    line-height: 24px;
    margin-top: 36px;
    margin-bottom: 60px;
  }
  
  .skillsItems{
    gap: 30px 40px;
  }

  .skillItem {
    width: 300px;
    height: 224px;
    margin-top: 5px;
  }
  
  .skillTitle{
    margin-top: 80px;
  }

  .skillDescription {
    line-height: 22px;
    padding: 0 10px;
    margin-top: 21px;
  }

  .skill .container{
    margin-bottom: 41px;
  }

  .portfolio .buttonWrapper{
    margin-top: 70px;
  }

  .video .container{
    padding: 20px 0 0 0;
  }

  .video .titleСontainer{
    width: calc(50% - 20px);
  }

  .videoImg{
    display: none;
  }
  
  .videoPlayer{
    margin-top: 70px;
  }
  .videoImgSmall{
    display: flex;
    width: 100%;
  }
  
  .playIcon{
    width: 65px;
    height: 65px;
  }

  .priceItems{
    margin-top: 70px;
    gap: 50px;
  }
  .priceItem{
    width: 420px;
    height: 505px;
  }

  .contact .container{
    margin-top: 60px;
    justify-content: center;
    background-image: url(./assets/img/contactsBg-small.jpg);
    min-height: 600px;
    background-size: auto 600px;
  }

  .contactWrapper{
    width: 450px;
    padding-top: 0;
  }

  .contactTitle{
    text-align: center;
    margin-top: 32px;
  }

  .contactForm {
    margin-top: 32px;
    align-items: center;
  }

  .contactForm .input{
    width: 100%;
  }

  .footer .container{
    margin-top: 0;
    flex-direction: column;
    align-items: center;
  }

  .footer .footerItem:first-child{
    word-spacing: 19px;
  }

  .footer .rss{
    margin-left: 0;
  }

  .footer .footerItem:last-child{
    margin-top: 16px;
  }

  body{
    overflow-x: hidden;
   }

  
  
  .nav.open::before{
    content: "";
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    min-height: 1024px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }

  .nav {
    display: flex;
    position: absolute;
    width: 620px;
    min-height: 1024px;
    background-color: #000;
    right: -620px;
    top: 0;
    transition: .5s ease-in-out;
    font-size: 35px;
    line-height: 72.5px;
    z-index: 3;
  }

  .header .open{
    top: 0;
    right: 0;
    transition: .5s ease-in-out;
  }
  
  .header .navList{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: 0;
    padding-top: 134px;
    padding-left: 112px;
    
  }
  /*
  .header .nav.open{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    min-height: 1024px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    overflow-x: hidden;
  }

  header .nav .navList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 620px;
    height: 100%;
    background-color: black;
    margin-right: 0;
    padding-top: 134px;
    padding-left: 112px;
    font-size: 35px;
    line-height: 72.5px;
    position: absolute;
    right: -620px;
    transition: 1.5s;
  }

  .header .nav.open .navList{
    right: 0;
    transition: 1.5s;
  } */

  .header .nav .navList .navItem {
    margin-bottom: 16px;
  }
    
}

@media (max-width: 620px){
  .header .nav{
    width: 100%;
  }
}

@media (max-width: 500px) {
  .header .langSwitch{
    display: none;
  }
  
  .hero .contentHero{
    width: 80%;
  }

  .portfolio .portfolioItems img{
    width: 100%;
  }
}


.overlay {
  background-color: rgba(0,0,0,0.7); 
  height: 100%;
  position: absolute;
  width: 100%;
}